{
  "parser": "babel-eslint", // uses babel-eslint transforms
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "env": {
    "node": true, // defines things like process.env when generating through node
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended", // use recommended configs
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": [
      "warn",
      { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }
    ]
  }
}
