@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/spinner.css';
@import 'components/tooltip.css';
@import 'react-loader-spinner/dist/loader/css/react-spinner-loader.css';

.theme-light {
  --primary: #f8f8f8;
  --secondary: #dbe1e8;
  --text-main: #0d0106;
  --text-secondary: #454e56;
  --accent: #009ffd;
  --color-primary: #0060df;
  --color-secondary: #fbfbfe;
  --color-accent: #fd6f53;
  --font-color: #000000;
}
.theme-dark {
  --primary: #12181b;
  --secondary: #2a2e35;
  --text-main: #eaeaea;
  --text-secondary: #b8b8b9;
  --accent: #fc7753;
  --color-primary: #17ed90;
  --color-secondary: #243133;
  --color-accent: #12cdea;
  --font-color: #ffffff;
}
main.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-secondary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 
.container div {
  color: var(--font-color);
}
.container button {
  color: var(--font-color);
  background: var(--color-primary);
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
} */
/* * {
  box-sizing: border-box;
} */
body.light-mode {
  /* background-color: #fff;
  color: #333;
  transition: background-color 0.3s ease; */

  background: var(--white);
  color: var(--foreground);
  transition: color var(--transition);
}
body.dark-mode {
  background: var(--black);
  /* transform: translateX(-100%); */
  transition: transform var(--transition);
  /* background-color: #1a1919;
  color: #999; */
}

:root {
  --black: #333333;
  --white: #f5f5f5;
  --dark: rgb(15, 16, 51);
  --blue: rgb(99, 195, 243);
  --backround: var(--white);
  --foreground: var(--dark);
  --transition: 0.5s ease;
  --tw-ring-color: transparent;
  --tw-ring-shadow: transparent;
}
/* html {
  background: var(--white);
  color: var(--foreground); 

  transition: color var(--transition);
}*/

/* html::before {
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
  background: var(--black); 
  transform: translateX(-100%);
  transition: transform var(--transition);
  z-index: 0;
} */

/* When the darkmode class is applied, set the pseudo element position to 0 */
.darkmode::before {
  transform: translateX(0);
}

#acnh-art > table > input,
input[type="text"] {
  @apply dark:bg-transparent focus:outline-none;
}