@import "scss/darkmode--toggle";
@import "scss/dark--toggle";
@import "scss/theme--toggle";
@import "scss/acnh--table";
@import "scss/input--number";
@import "scss/custom--select";
@import "scss/theme";
@import "scss/sliderbar";
@import "scss/grid";
@import "scss/toggle";
@import "scss/tooltip";
@import "scss/search--photos";
@import "scss/spinner";
@import "scss/todo--matic";
@import "scss/todo--example";
@import "~bootstrap/scss/bootstrap-grid";

input, select {
    border-color: transparent;
}

$primary-color: white;
$bg: black;

.dark--mode h1 {
  color: $primary-color;
  background-color: $bg;
}
