table#acnh {
  tr {
    th,
    td {
      &:first-child {
        width: 200px;
      }

      &:nth-child(2) {
        width: 300px;
        text-align: center;
      }
      // &:last-child {
      //   width: 300px;
      // }
    }
  }
  .small-img {
    width: auto;
    max-height: 200px;
    margin: 0 auto;
  }
  // img {
  //   height: 150px;
  //   margin: 0 auto;
  // }
}
